*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: url(img/anh1.jpg) no-repeat center;
     background-size: cover;
    height: calc(100vh - 80px); 
}
nav{
    background: linear-gradient(to left, #ffff99 0%, #ffcc99 100%);
    /* background: #151515; */
    /* padding: 0; */
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav ul li.logo{
    flex: 1;
    color: rgb(15, 15, 15);
    font-size: 24px;
    font-weight: 600;
    user-select: none;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* float: left;
    list-style: none;
    margin-left: 100px;
    position: relative;
    text-transform: uppercase; */
}
nav ul li{
    padding: 15px 0;
    cursor: pointer;

    /* display: inline-block;
    background: #1b1b1b1b;
    margin: 0 15px; */
}
nav ul li a{
    color: rgb(10, 10, 10);
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    padding: 8px 15px;
}
nav ul li a:hover{
    box-shadow: 0 0 5px cyan,
                0 0 15px cyan;
                border-radius: 20px;
                transition: 8x;
}
nav ul ul{
    position: absolute;
    top: 120px;
    opacity: 0;
    visibility: hidden;
    transition: top .8x;
    border-top: 3px solid cyan;
    border-bottom: 3px solid cyan;
    margin-left: 0px;
    text-transform: none;
}
 nav ul li:hover>ul{
    top: 70px;
    opacity: .9;
    visibility: visible;
} 
 nav ul ul li{
    position: relative;
    margin: 0px;
    width: 200px;
    float: none;
    display: list-item;
    border-bottom: 1px solid black;
} 
nav ul ul li a{
    line-height: 50px;
} 
 nav ul ul li a:hover{
    color: rgb(12, 11, 11);
    background: linear-gradient(to left, #ffff99 0%, #ffcc99 100%);
} 
/* @media all and(max-width:800px){
    nav{
        padding: 5px 30px;
    }
    nav ul li{
        width: 100%;
        display: block;
    }
} */
